@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }

  /* টেলউইন্ডের ডার্ক মোড ক্লাস হ্যান্ডেল করার জন্য */
  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}